<header class="header ">

  <nav class="nav">
    <a href="index.html" class="nav__logo">
      <img src="img/logo.png" class="nav__logo-img" alt="Logo" />
      <span class="nav__logo-text">Cinemania</span>
    </a>
    <button id="nav__menu-toggle" class="nav__menu-toggle">MENU</button>
    <div class="nav__menu">
      <ul class="nav__menu-list">
        <li class="nav__menu-item">
          <a href="index.html" class="nav__menu-link active">Home</a>
        </li>
        <li class="nav__menu-item">
          <a href="catalog.html" class="nav__menu-link">Catalog</a>
        </li>
        <li class="nav__menu-item">
          <a href="myLibrary.html" class="nav__menu-link">My Library</a>
        </li>
      </ul>
    </div>
    <div class="nav__theme">
      <button class="nav__theme-toggle dark" id="nav__theme-toggle" type="button"></button>
    </div>
  </nav>

</header>