<link rel="stylesheet" href="./practice_board.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
<script src="/practice_board.js" defer></script>
<section class="infoPopup">
  <span class="closeBtn">&times;</span>
  <div class="infoModal">
    <picture>
      <source
        media="(max-width: 768px)"
        srcset="/src/images/johnwick-mobile.png"
      />
      <source
        media="(max-width: 1024px)"
        srcset="/src/images/johnwick-tablet.png"
      />
      <img
        class="moviePoster"
        src="/src/images/johnwick-pc.png"
        alt="Movie Poster"
      />
    </picture>
    <div class="infoModalContent">
      <h2 class="movieTitle">John Wick: Chapter 4</h2>
      <div class="movieInfo">
        <p class="vote">
          Vote / Votes<span class="voteSpanLeft">7.3</span>&#47;<span
            class="voteSpanRight"
            >1260</span
          >
        </p>
        <p class="popularity">
          Popularity<span class="popularitySpan">100.2</span>
        </p>
        <p class="genre">
          Genre <span class="genreSpan">Action Thriller Crime</span>
        </p>
      </div>
      <div class="about">
        <p>ABOUT</p>
        <p>
          John Wick (Keanu Reeves) takes on his most lethal adversaries yet in
          the upcoming fourth instalment of the series. With the price on his
          head ever increasing, John Wick uncovers a path to defeating The High
          Table. But before he can earn his freedom, Wick must face off against
          a new enemy with powerful alliances across the globe and forces that
          turn old friends into foes.
        </p>
      </div>
      <button class="addLibrary">Add to my library</button>
    </div>
  </div>
</section>
