<div class="backdrop-team-modal is-hidden" id="backdrop-team">
    <div class="modal-team">
      <h1 class="team-name">Developers</h1>
      <button type="button" class="close-btn">
        <svg class="modal-close-btn" width="15" height="15">
          <use class="close-icon" href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <div class="modal-container">
        <ul class="team-card">
          <li class="card">
            <img src="../images/02-Yeşim Bozkurt.jpg" alt="Team-Lead" />
            <p class="full-name">Yeşim Bozkurt</p>
            <p class="team-position">Team-Lead</p>
          </li>
          <li class="card">
            <img src="../images/01-Kaan Erenmemisoglu.jpeg" alt="Scrum-Master" />
            <p class="full-name">Kaan Erenmemisoglu</p>
            <p class="team-position">Scrum-Master</p>
          </li>
          <li class="card">
            <img src="../images/06-Erdem Demircioglu.jpeg" alt="Developer" />
            <p class="full-name">Erdem Demircioglu</p>
            <p class="team-position">Developer</p>
          </li>
          <li class="card">
            <img src="../images/03-Dilara Aydemir.jpg" alt="Developer" />
            <p class="full-name">Dilara Aydemir</p>
            <p class="team-position">Developer</p>
          </li>
          <li class="card">
            <img src="../images/04-Sümeyye Terzi.jpg" alt="Developer" />
            <p class="full-name">Sümeyye Terzi</p>
            <p class="team-position">Developer</p>
          </li>
          <li class="card">
            <img src="../images/05-Negin Kerimli.jpeg" alt="Developer" />
            <p class="full-name">Negin Kerimli</p>
            <p class="team-position">Developer</p>
          </li>
          <li class="card">
            <img src="../images/07-Alper Kale.jpeg" alt="Developer" />
            <p class="full-name">Anastasia Grigoreva</p>
            <p class="team-position">Developer</p>
          </li>
          <li class="card">
            <img src="../images/08-Mürsel Şen.jpeg" alt="Developer" />
            <p class="full-name">Mürsel Şen</p>
            <p class="team-position">Developer</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  