<section class="movies">
  <div class="search-container">
    <input type="text" class="movies__search" placeholder="Search" />

    <div class="movies__search-icon" id="catalog-search-btn">
      <svg class="movies__search-icon-img" width="20" height="20">
        <use href="./images/searchicon.svg#icon-search"></use>
      </svg>
    </div>
  </div>
  <div class="movies__list">
    <ul class="movies__list-items">
      <!-- burasi bos bir alan -->
    </ul>
  </div>
  <div class="pagination-container"></div>
</section>
