<section class="movies">
    <div class="search-container">
        <input type="text" class="movies__search" placeholder="Search">
        <div class="movies__search-icon">
            <svg class="movies__search-icon-img" width="20" height="20">
                <use href="./images/searchicon.svg#icon-search"></use>
            </svg>
        </div>
    </div>  
    <div class="movies__list">
        <ul class="movies__list-items">
            <li class="movies__list-item">
                <div class="movies__list-item-info">
                    <h3 class="movies__list-item-title">The Dark Knight</h3>
                    <p class="movies__list-item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
                </div>
            </li>   
            <li class="movies__list-item">
                <div class="movies__list-item-info">
                    <h3 class="movies__list-item-title">The Dark Knight</h3>
                    <p class="movies__list-item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
                </div>
            </li>
            <li class="movies__list-item">
                <div class="movies__list-item-info">
                    <h3 class="movies__list-item-title">The Dark Knight</h3>
                    <p class="movies__list-item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
                </div>
            </li>
            <li class="movies__list-item">
                <div class="movies__list-item-info">
                    <h3 class="movies__list-item-title">The Dark Knight</h3>
                    <p class="movies__list-item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
                </div>
            </li>   
            <li class="movies__list-item">
                <div class="movies__list-item-info">
                    <h3 class="movies__list-item-title">The Dark Knight</h3>
                    <p class="movies__list-item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
                </div>
            </li>
            <li class="movies__list-item">
                <div class="movies__list-item-info">
                    <h3 class="movies__list-item-title">The Dark Knight</h3>
                    <p class="movies__list-item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
                </div>
            </li>
        </ul>
    </div>
</section>