<section class="upcoming-container container ">
    <div class="upcoming-header">UPCOMING THIS MONTH</div>
    <div class="content-upcoming">
        <img src="../images/upcoming.png" alt="The Lost City">
        <div class="details ">
            <h1 class="title">THE LOST CITY</h1>
            <p class="info">Release date <span class="details-date span">03.03.2023</span></p>
            <p class="info">Vote / Votes <span class="info-span span">7.3 </span> / <span class="span-info span">1260
                </span>
            </p>
            <p class="info"> <b>Popularity</b> <span class="info-s span">99.9</span></p>
            <p class="info">Genre <span class="span">Comedy, action</span></p>
            <div class="about"> <span class="upcoming-about">ABOUT</span>
                <p>Reclusive author Loretta Sage writes about exotic places in her popular adventure novels that feature
                    a handsome cover model named Alan. While on tour promoting her new book with Alan, Loretta gets
                    kidnapped by an eccentric billionaire who hopes she can lead him to an ancient city’s lost treasure
                    from her latest story. Determined to prove he can be a hero in real life and not just on the pages
                    of her books, Alan sets off to rescue her.</p>
            </div>
 <button class="btn btn-orange-black">Add to my library</button>
        </div>


    </div>
</section>