<section class="weekly-trends">
  <link rel="stylesheet" href="../css/weekly-trends.css" />

  <div class="wtrends">
    <h2 class="wtrends-title">Weekly Trends</h2>
    <a href="" class="see-all">See All</a>
  </div>
  <ul class="trend-cards">
    <li class="cards">
      <div class="about">
        <h3 class="filmm-name">Çilek Kız</h3>
        <p class="filmm-content">Animasyon - 2003</p>
      </div>
    </li>
    <li class="cards">
      <div class="about">
        <h3 class="filmm-name">Çilek Kız</h3>
        <p class="filmm-content">Animasyon - 2003</p>
      </div>
    </li>
    <li class="cards">
      <div class="about">
        <h3 class="filmm-name">Çilek Kız</h3>
        <p class="filmm-content">Animasyon - 2003</p>
      </div>
    </li>
  </ul>
</section>
