.upcoming-container {
    background-color: #111;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 1280px;
  
}


.upcoming-header {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.content-upcoming {
    height: 458px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
   
}

.content-upcoming img {
   height: 100%;
}

.details {
    height: 100%;
    display: flex;
    flex-direction: column;
    
}


.details .title {
    font-size: 36px;
    margin-bottom: 18px;
}

.details .info {
    font-size: 16px;
    margin-bottom: 12px;
    color: #B7B7B7;
    justify-content: space-between;
    display: flex;
    width: 250px;
    
}
.span {
   text-align: right;
}
.details-date {
    color: orange;
    
    
}

.info-span {
    border-radius: 1px;
    background-color: #FFFFFF;
    color: black;
}

.details .info-span {
  
    justify-content: space-between;
    margin-left: 62px;
}
.span-info {
    background-color:#FFFFFF;
    border-radius: 5px;
    border: 1px #FFFFFF;
    padding: 1px 8px;
    color: black;
}

.upabout {
    font-size: 14px;
    color: #ccc;
    line-height: 20px;
    margin-bottom: 20px;
}

.btn {
  font-family: Roboto;
     cursor: pointer;
    margin-top: 15px;
  left: 821px;
  width: fit-content;
  border-radius: 74px;
  gap: 10px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0%;
  padding: 12px 24px;
  border-radius: 74px;
  transition: all 50ms cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.btn-orange-black {
  background: linear-gradient(141.22deg, var(--o) 9.4%, var(--y) 91.91%);
  color:#111111; 
  font-size: 16px;
  line-height: 24px;
  border: 1px solid var(--linear-y-o);
}

.btn-orange-black:hover {
  background: var(--linear-y-o);
  color: var(--white);
}

.btn-black-white {
  background: var(--black);
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
  border: 1px solid var(--white);
}

.upcoming-about {
    color: #B7B7B7;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
}

/**MOBILE İÇİN */
@media screen and (max-width: 767px) {
    .content-upcoming img {
        width: 280px;
        height: 402px;
        top: 992px;
        left: 20px;
        border-radius: 5px;
          max-width: 400px;  
    }
    .content-upcoming {
    flex-direction: column; 
    align-items: center;    
    text-align: center;     
  }
   .details {
    padding: 0 1rem;       
  }

  .details .title {
    font-size: 1.8rem;
  }

  .btn-orange-black {
    margin-top: 1rem;
    width: 100%;
    max-width: 300px;
  }
}
/**TABLET**/
@media screen {
    
}